@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@*<h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>*@


<h2 class="text-danger">Webpage is currently undergoing maintenence. </h2>
<h3>Tee Times can still be booked by the button below.  If you have any further questions please contact the Proshop (902) 667-1911.  Thank you and we appoligize for any inconvenience.</h3>

