@model IEnumerable<AmherstGolfClub.Models.Product>

@{
    ViewBag.Title = "Kitchen";
}


<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <hr />
        <h2 class="text-center">Kitchen &amp; Bar</h2>
        <hr />
        @foreach (var item in Model)
        {
            if (item.Quantity > 0 && item.SubDepartment == "Food & Beverage")
            {                
                <div class="col-md-4 center-block" style="margin-bottom:1em">
                    <div class="thumbnail">
                        <h5 class="text-center"><strong>@Html.DisplayFor(c => item.Name)</strong></h5>
                        
                        <img class="img-responsive" src="~/android-chrome-96x96.png" alt="@item.Name" />
                        <p class="text-center">$@Html.DisplayFor(c => item.Price)</p>
                    </div>
                </div>
            }
        }
    </div>
</div>
<hr />


