@{
    IEnumerable<AmherstGolfClub.Models.Product> list = new AmherstGolfClub.DAL.GolfContext().Products;
    

    foreach (var item in list)
    {
        if (item.Quantity > 0 && item.SubDepartment != "Food & Beverage")
        {
            
        
            <li>@Html.ActionLink(item.ItemCategory, "Index", new { name = item.ItemCategory })</li>
        }

    }
    <li>@Html.ActionLink("All categories", "Index")</li>
    
}
