@model IEnumerable<AmherstGolfClub.Models.Product>
@{
    ViewBag.Title = "ProShop";
}
<hr />
<h2 class="text-center">Proshop Items</h2>
<hr />
@*<p>
        @Html.ActionLink("Upload Inventory", "Index", "Admin")
    </p>*@
<div class="container">
    @{ int counter = 0; }
    @foreach (var item in Model)
    {
        if (item.Quantity > 0 && item.SubDepartment != "Food & Beverage")
        {
            counter += 1;
            <div class="col-md-4 center-block" style="margin-bottom:1em">
                <div class="thumbnail">
                    <h5 class="text-center"><strong>@Html.DisplayFor(c => item.Name)</strong></h5>
                    @*forproduction*@
                    @*<img class="img-responsive" src="~/@item.Name" alt="~/android-chrome-96x96.png" />*@
                    @*fortesting*@
                    <img class="img-responsive" src="~/android-chrome-96x96.png" alt="@item.Name" />
                    <p class="text-center">$@Html.DisplayFor(c => item.Price)</p>
                </div>
            </div>            
        }
    }

</div>

