
@{
    ViewBag.Title = "Gallery";
}

<div class="container">
    <div class="col-md-10 col col-md-offset-1">
        <hr />
        <h2>Gallery</h2>
        <hr />
        @***To be completed***@
    </div>
</div>
<hr />


