
@{
    ViewBag.Title = "ProShopImageUpload";
}

@if (Request.IsAuthenticated)
{
    <hr />
    <h2 class="text-center">Upload Image</h2>
    <hr />
    if (ViewBag.Uploaded == null)
    {
        <div class="col-lg-10 col-md-offset-1 alert alert-warning">
            <p class="text-center">The image you are uploading requires the EXACT SAME name as the product listed on the spreadsheet.  All uploaded images must be in .png format.</p>
        </div>
        using (Html.BeginForm("ProShopImageUpload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="container">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <input type="file" id="ResultFile"
                                   name="ResultFile" lass="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Upload Image" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container">
                @Html.ActionLink("Admin Home", "Index")
            </div>
            <hr />
        }
    }
    else
    {
        <div class="alert alert-success">
            <h2>Upload Successful</h2>
        </div>
        <hr />
        <div class="container">
            @Html.ActionLink("Admin Home", "Index") | 
            @Html.ActionLink("Upload Another Image", "ProShopImageUpload", "Admin")
        </div>
    }
}
else
{
    <div class="alert alert-danger">
        <p>You are not authorized to view this page.</p>
    </div>
}
<hr />

