body {
    padding-bottom: 20px;
    /*background: url(../apple-touch-icon-120x120.png);
    background-size: contain;
    background-repeat: no-repeat;*/

    /*finish background so that image is watermarkd on paged*/
}

.body-content {
    margin-left: 190px;
    max-width: 115%; 
}

.dl-horizontal dt {
    white-space: normal;
}

.rental-headers{
    font-weight:bold;
    font-size:20px;
}

/*******WILLS CSS*********/


.fc-toolbar{
    background-color:black;
    padding-top: 5px;
    margin-bottom:0px;
    
}
.fc-day-grid-event .fc-time {
    display:none;
	
}
.fc-event:hover .fc-title{
    display:none;
}
.fc-widget-header-center{
    text-decoration-color:brown;
}
.fc-widget-header{
    background-color:darkgray;
    padding:5px;
    text-decoration-color:azure;
}
#legend{color:black}
/**************************************/
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.fullcalendar-onhover{
    color:silver
}
/************************************SOCIAL MEDIA BUTTONS******************************************/
.media-buttons{
    position: relative;
    padding-top: 2%;
    left: 200px;
}

.media-buttons li {
    padding: 10px;
    margin:auto;
    text-decoration:none;
    display:inline;
}

.media-buttons li a{
    font-size:150%;
    color: #848a48;
}

.grow:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

/************************************FOOTER******************************************/
footer{
    max-width: 60%;
}

footer p{
    padding-top:2%;
}

#in-touch{
    background-color: #6e5a48;
}

#reserve-now{
    background-color: #848a48;
}

#table-footer{
    font-weight:bold;
    font-size:110%;
}

.carousel-pic{
    width:100%;
}

.carousel-inner{
    width:100%;
    max-height:600px !important;
}

input,
select,
textarea {
    max-width: 280px;
}

@media (max-width: 767px) {
  .body-content{
      max-width:85%;
      margin:auto;
      padding: 0;
  }

  .carousel-inner{
      max-height:0;
  }
}